<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <div class="login-form" ng-controller="LoginController"><!--login form-->
        <h2>Login to your account</h2>
        <form name="loginForm">

          <div class="form-group has-feedback" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$touched}">
            <input type="email" placeholder="Email Address" class="form-control"
                   ng-model="user.email" ng-required="true" name="user.email">
             <span class="help-block" ng-if="loginForm.email.$invalid && loginForm.email.$dirty">
                Email is required
              </span>
            <span class="help-block" ng-if="loginForm.email.$error.email && loginForm.email.$dirty">
                Email is not valid
              </span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$touched}">
            <input type="password" placeholder="Password" class="form-control"
                   ng-model="user.password" ng-required="true" name="password">
             <span class="help-block" ng-if="loginForm.password.$invalid && loginForm.password.$dirty">
                The Password is required
              </span>
          </div>

          <!--input type="text" placeholder="Name" ng-model="username"/-->
          <!--input type="email" placeholder="Email Address"ng-model="email" /-->
          <button type="submit" class="btn btn-default" ng-click="sendLoginData(user)">Login</button>
        </form>
      </div><!--/login form-->
    </div>
    <div class="col-sm-1">
      <h2 class="or">OR</h2>
    </div>

    <div class="col-sm-4">
      <div class="signup-form" ng-controller="RegistrationController"><!--sign up form-->
        <h2>New User Signup!</h2>
        <form name="registrationForm">

          <div class="form-group has-feedback" ng-class="{'has-error': registrationForm.username.$invalid && registrationForm.username.$touched}">
            <input type="text" placeholder="Username" class="form-control"
                   ng-model="user.username" ng-required="true" name="username" id="username">
             <span class="help-block" ng-if="registrationForm.username.$invalid && registrationForm.username.$dirty">
                The Username is required
              </span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': registrationForm.email.$invalid && registrationForm.email.$touched}">
            <input type="email" placeholder="Email Address" class="form-control"
                   ng-model="user.email" ng-required="true" name="email" id="email">
             <span class="help-block" ng-if="registrationForm.email.$invalid && registrationForm.email.$dirty">
                Email is required
              </span>
            <span class="help-block" ng-if="registrationForm.email.$error.email && registrationForm.email.$dirty">
                Email is not valid
              </span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': registrationForm.password.$invalid && registrationForm.password.$touched}">
            <input type="password" placeholder="Password" class="form-control"
                   ng-model="user.password" ng-required="true" name="password" id="password">
             <span class="help-block" ng-if="registrationForm.password.$invalid && registrationForm.password.$dirty">
                The Password is required
              </span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': registrationForm.password.$invalid && registrationForm.password.$touched}">
            <input type="password" placeholder="Confirm Password" class="form-control"
                   ng-model="user.passwordConfirm" ng-required="true" name="passConfirm" id="passConfirm">
             <span class="help-block" ng-if="registrationForm.password.$invalid && registrationForm.password.$dirty">
                The Password Confirmation is required
              </span>
          </div>

          <button type="submit" class="btn btn-default" ng-click="saveUser(user)">
            Signup
          </button>
        </form>
      </div><!--/sign up form-->
    </div>
  </div>
</div>
